{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}ダッシュボード{% endblock %}

{% block css %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Dashboard <small>ダッシュボード</small></h3>
    </div>
  </div>
</div>
{% endblock %}
