{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}{% endblock %}

    <!-- Bootstrap -->
    <link href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static "vendors/nprogress/nprogress.css" %}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{% static "vendors/animate.css/animate.min.css" %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static "css/custom.min.css" %}" rel="stylesheet">
  </head>

  <body class="login">
    {% block content %}
    {% endblock %}
  </body>
</html>
