{% extends 'layouts/base_login.html' %}
{% load static %}

{% block title %}<title>アンケート管理システム</title>{% endblock %}

{% block content %}
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form action="" method="POST">
            {% csrf_token %}

            <h1><i class="fa fa-cube"></i> Survay Manager</h1>
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}{{ error }}{% endfor %}
            </div>
            {% endif %}

            <div class="form-group">{{ form.username }}</div>
            <div class="form-group">{{ form.password }}</div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Log in</button>
            </div>

            <div class="clearfix"></div>
            <div class="separator">
              <div class="clearfix"></div>
              <br />
            </div>

          </form>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
