{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}アンケート新規登録{% endblock %}

{% block css %}
{% endblock %}

{% block script %}
<script>
  $('input[id=survay_file]').change(function() {
    var fileName = $(this).val();
    fileName = fileName.split('\\');
    fileName = fileName.length > 0 ? fileName[fileName.length - 1] : '';

    var ext = fileName.split('.');
    ext = ext.length > 0 ? ext[ext.length - 1] : '';

    if (ext === 'xlsx' || ext === 'xls') {
      $('#file_title').val(fileName);
    } else {
      alert('xlsxまたはxlsファイルのみ選択できます。');
      $(this).val(null);
      $('#file_title').val('');
    }
  });
</script>
{% endblock %}

{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Regist Survay <small>アンケート新規登録</small></h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

      <form class="form-horizontal form-label-left" action="{% url 'survay:create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="x_panel">
          <div class="x_title">
            <h2>アンケート情報</h2><div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br/>
            <div class="form-group">
              <label for="title" class="control-label col-md-3 col-sm-3 col-xs-12">
                タイトル<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="title" name="title" required="required" class="form-control col-md-7 col-xs-12" placeholder="最大100文字"/>
              </div>
            </div>

            <input id="survay_file" type="file" style="display:none" name="survay_file">
            <div class="form-group">
              <label for="file_title" class="control-label col-md-3 col-sm-3 col-xs-12">
                質問紙ファイル<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-group">
                  <input type="text" id="file_title" class="form-control" placeholder="xlsx or xlsファイルのみアップロード可" disabled>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" onclick="$('input[id=survay_file]').click();">Browse</button>
                  </span>
                </div>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a href="{% url 'survay:index' %}"><button class="btn btn-default" type="button">Cancel</button></a>
                <button type="submit" class="btn btn-success">Upload</button>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>
{% endblock %}
