{% extends 'layouts/base.html' %}
{% load static %}
{% load survay_tag %}

{% block title %}アンケート詳細{% endblock %}

{% block css %}
{% endblock %}

{% block script %}
<script>
$(function(){
  $('.editCluster').on('click', function(){
    $(this).closest('tr').find('td').each(function(index, ele){
      switch (index) {
        case 0:
          $('#number').val(ele.textContent);
          break;
        case 1:
          $('#text').val(ele.textContent);
          break;
        default:
          break;
      }
    });
  });
  $('#clusterSubmit').on('click', function(){
    var number = $('#number').val();
    var text = $('#text').val();
    var comment = $('#comment').val();
    var survayId = $('#survayId').val();
    if (number.length > 0 && text.length > 0 && comment.length > 0) {
      $.ajax({
        url: "{% url 'survay:edit' survay.id %}",
        type: 'post',
        data: {
          number: number,
          text: text,
          comment: comment
        },
        beforeSend: function(xhr, settings) {
           xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val());
        }
      }).done(function(data){
        if (data.result == 'ok') {
          $('#modelCloseBtn').click();
          new PNotify({
            title: 'Success',
            text: '変更申請を行いました。',
            type: 'success',
            styling: 'bootstrap3'
          });
        }
      });
    } else {
      alert('全ての項目は必須です。');
    }
  });
});
</script>
{% endblock %}

{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Survay Detail <small>アンケート詳細</small></h3>
    </div>
    <div class="title_right">
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-12 text-right" style="margin:9px;">
    <a href="javascript:void(0);" onclick="var ok=confirm('本当に削除しますか？');if (ok) location.href='{% url 'survay:delete' survay.id %}'; return false;"><button class="btn btn-danger">削除</button></a>
  </div>

  <div class="x_panel col-md-12 col-sm-12 col-xs-12" style="margin-bottom:30px;">
    <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count">
      <span class="count_top">アンケート名：</span>
      <div class="count"><h2><strong>{{ survay.title }}</strong></h2></div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-12 tile_stats_count">
      <span class="count_top">最新バージョン：</span>
      <div class="count"><h2><strong>{% get_newest_version survay %}</strong></h2></div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-12 tile_stats_count">
      <span class="count_top">質問数：</span>
      <div class="count"><h2><strong>{% get_question_count survay %}</strong></h2></div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-12 tile_stats_count">
      <span class="count_top">登録日：</span>
      <div class="count"><h2><strong>{{ survay.updated_at }}</strong></h2></div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-12 tile_stats_count">
      <span class="count_top">最終更新日：</span>
      <div class="count"><h2><strong>{{ survay.updated_at }}</strong></h2></div>
    </div>
  </div>

  <div class="x_panel" style="margin-bottom:30px;">
    <div class="x_title" style="border-bottom:none;">
      <h2><strong>分類項目</strong></h2>
    </div>
    <div class="x_content">
      <table class="table table-hover">
        <tbody>
          {% get_clusters survay as clusters %}
          {% for cluster in clusters %}
          <tr>
            <td class="col-md-1 col-sm-1 col-xs-1">{{ cluster.number }}</td>
            <td>{{ cluster.text }}</td>
            <td class="col-md-1 col-sm-1 col-xs-1 text-center">
              <a class="editCluster" data-toggle="modal" data-target="#clusterModal"><i class="fa fa-edit fa-lg"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade"id="clusterModal" tabindex="-1" role="dialog" aria-labelledby="clusterModal" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;">
      <form class="form-horizontal form-label-left">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"id="myModalLabel">文章編集</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              {% csrf_token %}
              <input type="hidden" id="survayId" value="{{ survay.id }}"/>
              <label for="text" class="control-label col-md-3 col-sm-3 col-xs-12">番号<span class="required">*</span></label>
              <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" id="number" name="number" class="form-control col-md-7 col-xs-12" disabled="disabled"/>
              </div>
            </div>
            <div class="form-group">
              <label for="text" class="control-label col-md-3 col-sm-3 col-xs-12">文章<span class="required">*</span></label>
              <div class="col-md-7 col-sm-7 col-xs-12">
                <textarea id="text" name="text" class="form-control col-md-7 col-xs-12" placeholder="最大500文字" rows="5"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="comment" class="control-label col-md-3 col-sm-3 col-xs-12">変更点<span class="required">*</span></label>
              <div class="col-md-7 col-sm-7 col-xs-12">
                <textarea id="comment" name="comment" class="form-control col-md-7 col-xs-12" placeholder="最大500文字" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="modelCloseBtn">閉じる</button>
            <button type="button" class="btn btn-primary" id="clusterSubmit">変更を申請する</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {% get_categories survay as categories %}
  {% for category in categories %}
  <div class="x_panel">
    <div class="x_title" style="border-bottom:none;">
      <h2><small>No. </small><strong>{{ category.number }}&nbsp;&nbsp;「{{ category.text }}」</strong></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table class="table table-hover">
        <tbody>
          {% get_questions category as questions %}
          {% for question in questions %}
          <tr>
            <td class="col-md-1 col-sm-1 col-xs-1">{{ question.number }}</td>
            <td>{{ question.text }}</td>
            <td  class="col-md-2 col-sm-2 col-xs-2">{% get_question_type question %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="ln_solid"></div>
      <small class="pull-right">Page:{{ category.page }}</small>
    </div>
  </div>
  {% endfor %}<br/><br/><br/><br/><br/>

</div>
{% endblock %}
