{% extends 'layouts/base.html' %}
{% load static %}
{% load survay_tag %}

{% block title %}更新履歴{% endblock %}

{% block css %}
{% endblock %}

{% block script %}
<script>
$(function(){
  $('.openModal').on('click', function(){
    $(this).closest('tr').find('input').each(function(index, ele){
      switch (ele.name) {
        case 'before':
          $('#before').text(ele.value);
          break;
        case 'after':
          $('#after').text(ele.value);
          break;
        default:
          break;
      }
    });
  });
})
</script>
{% endblock %}

{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>History <small>更新履歴</small></h3>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><strong>現在の申請ステータス一覧</strong></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-striped jambo_table bulk_action">
          <thead>
            <tr class="headings">
              <th>No.</th>
              <th>申請者コメント</th>
              <th>確認者コメント</th>
              <th>ステータス</th>
              <th>申請日付</th>
              <th>更新日付</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            {% for log in logs %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ log.update_comment }}</td>
              <td>{{ log.reject_comment }}</td>
              <td>{% autoescape off %}{% get_status_tag log %}{% endautoescape %}</td>
              <td>{{ log.created_at }}</td>
              <td>{{ log.updated_at }}</td>
              <td class="text-center">
                <input type="hidden" value="{{ log.cluster.text }}" name="before">
                <input type="hidden" value="{{ log.text }}" name="after">
                <a class="openModal" data-toggle="modal" data-target="#detailModal"><i class="fa fa-edit fa-lg"></i></a>&nbsp;&nbsp;
                <a href="javascript:void(0);" onclick="var ok=confirm('申請を取り下げますか？');if (ok) location.href='{% url 'survay:delete_cluster_log' log.id %}'; return false;"><i class="fa fa-trash-o fa-lg"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade"id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;">
      <form class="form-horizontal form-label-left">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"id="myModalLabel">文章編集</h4>
          </div>
          <div class="modal-body">
            <p><strong>変更前：</strong></p>
            <p id="before"></p><br/>
            <p><strong>変更後：</strong></p>
            <p id="after"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="modelCloseBtn">閉じる</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
