{% extends 'layouts/base.html' %}
{% load static %}
{% load survay_tag %}

{% block title %}アンケート一覧{% endblock %}

{% block css %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Survay List <small>アンケート一覧</small></h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <a href="{% url 'survay:create' %}"><button class="btn btn-primary">新規作成</button></a>
        </div>
        <div class="x_content">
          <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
              <thead>
                <tr class="heading">
                  <td class="column-title">No.</td>
                  <td class="column-title">タイトル</td>
                  <td class="column-title">最新バージョン</td>
                  <td class="column-title">質問数</td>
                  <td class="column-title">登録日</td>
                  <td class="column-title">最終更新日</td>
                  <td class="column-title text-center">操作</td>
                </tr>
              </thead>
              <tbody>
                {% if survays %}
                  {% for item in survays %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                          <a href="{% url 'survay:detail' item.id %}">
                            {{ item.title }}
                          </a>
                      </td>
                      <td>{% get_newest_version item %}</td>
                      <td>{% get_question_count item %}</td>
                      <td>{{ item.created_at }}</td>
                      <td>{{ item.updated_at }}</td>
                      <td class="text-center">
                        <a href="{% url 'survay:edit' item.id %}"><i class="fa fa-edit fa-lg"></i></a>&nbsp;&nbsp;
                        <a href="javascript:void(0);" onclick="var ok=confirm('本当に削除しますか？');if (ok) location.href='{% url 'survay:delete' item.id %}'; return false;"><i class="fa fa-trash fa-lg"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                <tr>
                  <td colspan="7">
                    <div class="alert alert-danger fade in" role="alert">
                      <strong>現在、登録されているアンケートはありません。</strong>
                    </div>
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
