{% load layout_tag %}
{% show_alert request as alert %}

{% if alert.is_show %}
<div class="col-md-12">
  <div class="alert alert-{{ alert.type }} alert-dismissible fade in">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{ alert.text }}
  </div>
</div>
{% endif %}
