<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{% url 'authuser:logout' %}">
            <button class="btn btn-primary">Log Out&nbsp;&nbsp;<i class="fa fa-sign-out"></i></button>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
