{% load static %}
<div class="navbar nav_title" style="border: 0;">
  <a href="{% url 'dashboard:index' %}" class="site_title"><i class="fa fa-cube"></i> <span>Survay Manager</span></a>
</div>
<div class="clearfix"></div>

<div class="profile clearfix">
  <div class="profile_pic">
    <img src="{% static "images/img.jpg" %}" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2>{{ user.username }} <small>さん</small></h2>
  </div>
</div>
<br />

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>Menu</h3>
    <ul class="nav side-menu">
      <li><a href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i> ダッシュボード</a></li>
      <li><a><i class="fa fa-file-text"></i> アンケート管理<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'survay:index' %}">アンケート一覧</a></li>
          <li><a href="{% url 'survay:history' %}">更新履歴</a></li>
          <li><a href="index2.html">集計結果一覧</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" data-placement="top" title="Settings">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </a>
</div>
